@import url('https://fonts.googleapis.com/css?family=News+Cycle|Yantramanav:300,700');

$font-family-base: -apple-system, system-ui, BlinkMacSystemFont, "News Cycle", Roboto, "Helvetica Neue", Arial, sans-serif !default;
$font-size-base: 1rem !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;
$font-weight-base: $font-weight-normal !default;
$line-height-base: 1.5 !default;

body {
  margin: 0;
  padding: 0;

  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}